{% extends 'main/en/components/base.html'%}
{% load static %}

{% block body %}
    <!-- HEADER END -->
    <!-- BANNER STRAT -->
    <!-- BANNER END -->
    <section>
        <!-- <section class="shopbybg-big ptb-95 ptb-sm-60 ptb-xs-30"> -->
        <section style="background-color: #0e1116;" class="ptb-95 ptb-sm-60 ptb-xs-30">

            <div class="container">

                <div class="row">

                    <div class="col-xs-12">

                        <div class="heading-part align-center">

                            <h2 class="main_title">ABOUT WATCHES</h2>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-8 col-md-8">

                        <p class="center-sm">“The Perspective” is a well-known Moscow’s watch centre. We have worked on
                            the pawn market for a long time to develop an unblemished reputation. “The Perspective” is a
                            recognized and respected company with loyal clients. If you are going to sell your luxury
                            timepiece, we will be happy to help you with any watches, ladies or gents, new or old.</p>
                        <p class="center-sm">Applying to our watch pawn shop, you will get several advantages, among
                            which are:</p>
                        <p class="center-sm"><b>1. </b>A wide range of services. You can either loan or sell your watch,
                            getting the highest price.</p>
                        <p class="center-sm"><b>2. </b>The Speed. The whole procedure will take you just a couple of
                            minutes whereas getting a loan in a bank can take you more than a day.</p>
                        <p class="center-sm"><b>3. </b>Just One Document. To close a deal you will need just one
                            document proving your identity.</p>
                        <p class="center-sm"><b>4. </b>Broad Geography. Our pawnshop is among those rare watch
                            pawnbrokers that have a net not only in Moscow, but also in St Petersburg, Yekaterinburg and
                            Khark.</p>
                        <p class="center-sm"><b>5. </b>Special Prices. If you show the authentic documents (a watch or
                            jewelry certificate, warranty, etc.), we will be able to offer you a better price.</p>
                        <p class="center-sm"><b>6. </b>Quick and expert valuation. Our watch pawnshop will value our
                            watch professionally and quickly and we pay you the cash on the spot without unnecessary
                            time waste.</p>
                        <p class="center-sm"><b>7. </b>Privacy. If you need a watch pawn, you shouldn’t worry about your
                            personal data as we guarantee you absolute confidentiality as well as the safety of your
                            valuables</p>

                    </div>

                    <div class="col-lg-4 col-md-4 center-sm mt-sm-30 hidden-sm hidden-xs"><img
                            style="display: block;margin: auto;height: 350px;" src="{% static 'images/services-main.png'%}"
                            alt="Lux Time">

                    </div>

                </div>

            </div>

        </section>
        <hr style="height: 1px; background-color: #9d705b; border: none;">
        <section class="blog-main ptb-95 ptb-sm-60 ptb-xs-30">

            <div class="container">

                <div class="row">

                    <div class="col-xs-12">

                        <div class="heading-part align-center mb-30">

                            <h2 class="main_title">Contact Us</h2>

                        </div>

                    </div>

                </div>

                <section class="align-center">
                    <div class="contact-info">
                        <div class="row m-0">
                            <div class="col-sm-4 p-0">
                                <div class="contact-box">
                                    <div class="contact-icon contact-phone-icon"></div>
                                    <span><b>Tel</b></span>
                                    <p>0123 456 789 / 0123 456 788</p>
                                </div>
                            </div>
                            <div class="col-sm-4 p-0">
                                <div class="contact-box">
                                    <div class="contact-icon contact-mail-icon"></div>
                                    <span><b>Mail</b></span>
                                    <p>infoservices@Gecko.com </p>
                                </div>
                            </div>
                            <div class="col-sm-4 p-0">
                                <div class="contact-box">
                                    <div class="contact-icon contact-open-icon"></div>
                                    <span><b>Open</b></span>
                                    <p>Mon – Sat: 9:00 – 18:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>
{% endblock %}