{% extends 'main/ge/components/base.html'%}
{% load static %}

{% block body %}
<!-- BANNER END -->

<div class="mian-contain">
    <div class="container">

        <!-- CONTAIN START pt-95-->
        <section class="pt-sm-60 pt-xs-30 mt-40">
            <div class="row">
                <div class="col-md-5 col-sm-5 mb-xs-30">
                    <div class="fotorama" data-nav="thumbs" data-allowfullscreen="native">
                        {% for image in product.product_images.all %}
                            <a href="#"><img src='{{ image.image.url }}' alt="Gecko"></a>
                        {% endfor %}
                    </div>
                    {% if product.Description_ge %}
                        <p class="mt-40" style="font-size:20px;color: white;">სპეციფიკაციები</p>
                        <p style="font-size:15px;color: white; padding-bottom: 50px;">{{ product.Description_ge  }} </p>
                    {% endif %}
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="product-detail-main">
                                <div style="background-color: #15191f;" class="product-item-details">
                                    <h1 style="color: #ffffff;font-size: 35px;padding: 40px 0px 40px 0px;"
                                        class="product-item-name">{{ product.title }}</h1>
                                    <hr style="padding: 0px 0px 40px 0px;">
                                    <div class="price-box"><span class="price">${{ product.price }}</span>
                                        <del class="price old-price">{{ product.old_price|default_if_none:"" }}</del>
                                    </div>
                                    <a style="margin: 40px 0px 40px 0px;" onclick="BuyNow()"
                                       class="btn btn-color big-width">ყიდვა</a>
                                    <div style="display: none;" id="Show-More">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <form method="post" class="main-form full">
                                                {% csrf_token %}

                                                    <div class="mb-20">
                                                        <div class="row">
                                                            <div class="col-xs-12 mb-20">
                                                                <div class="heading-part">
                                                                    <h2 style="text-align: center;font-size: 30px;" class="sub-heading">საკონტაქტო ინფორმაცია</h2>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="col-sm-12 mb-20">
                                                                <div class="input-box">
                                                                    <input style="color: #15191f;" type="text" required placeholder="სახელი და გვარი" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 mb-20">
                                                                <div class="input-box">
                                                                    <input style="color: #15191f;" type="email" required
                                                                           placeholder="ელ-ფოსტა" name="email">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 mb-20">
                                                                <div class="input-box">
                                                                    <input style="color: #15191f;" type="number" required
                                                                           placeholder="მობილურის ნომერი" name="number">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 mb-20">
                                                                <div class="input-box">
                                                                    <input style="color: #15191f;" type="text" required placeholder="მისამართი" name="address">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input style="color: black;" type="submit" value="გაგზავნა"/>

                                                </form>
                                            </div>
                                        </div>
                                    <hr>
                                    </div>


                                    <div style="color: white;font-size: 18px;" class="product-info-stock-sku">
                                        <div>
                                            <label>ხელმისაწვდომობა: </label>
                                            {% if product.sold_out %}
                                                <span class="info-deta">გაყიდულია</span>
                                            {% else %}
                                                <span class="info-deta">მარაგშია</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            <label>მდგომარეობა: </label>
                                            {% if product.condition == "New" %}
                                                <span class="info-deta">ნახმარი</span>
                                            {% else %}
                                                <span class="info-deta">ახალი</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div style="padding-left: 15px;color: white;font-size: 17px;" class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="row">
                                                {% for desc in product.product_desc.all %}
                                                    <p>{{ desc.title_ge|default_if_none:"" }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="row">
                                                {% for desc in product.product_desc.all %}
                                                    <p>{{ desc.desc_ge|default_if_none:"" }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- CONTAINER END -->
    </div>
</div>

<!--  Newsletter Block Start  -->
<!--  Newsletter Block Start  -->
</div>

<script>
function BuyNow() {
  var x = document.getElementById("Show-More");
  x.style.display = "block";
}

</script>
{% endblock %}