{% extends 'main/ge/components/base.html'%}
{% load static %}
{% block body %}
    <!-- HEADER END -->
    <section>
        <!-- <section class="shopbybg-big ptb-95 ptb-sm-60 ptb-xs-30"> -->
        <section style="background-color: #0e1116;" class="ptb-95 ptb-sm-60 ptb-xs-30">

            <div class="container">

                <div class="row">

                    <div class="col-xs-12">

                        <div class="heading-part align-center">

                            <h2 class="main_title">OUR SERVICES</h2>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-8 col-md-8">

                        <p class="center-sm"><b>Expertise. </b> Our highly qualified experts with more than 8-years of
                            experience in this field value the authentity of each item as well as its visual appearance
                            and present technical state. We use special professional equipment Watch Expert to check
                            watch escapement. </p>
                        <p class="center-sm"><b>Valuation. </b> To determine a loan value we use different criteria such
                            as its technical state, brand and model, condition, “provenance” (the original box, a bill
                            of sale, etc.). If you would like to get an estimate online, please, fill in the form below
                            and attach the photo of your watch. We will contact you immediately. </p>
                        <p class="center-sm"><b>Paying Cash. </b> As soon as you have signed a loan contract in our
                            office, we will pay you cash. There are special terms for huge sum of cash. We use special
                            equipment to carry out banknote identification. On clients’ demand we can also transfer
                            money using bank services. “The Perspective” pawn shop also offers collection and support
                            services. </p>
                        <p class="center-sm"><b>Insurance. </b> We offer you 100% watch insurance. If needed, we enclose
                            a copy of a loan contract with a pawn ticket. Our insurance covers the loss and all kinds of
                            watch damage. Our insurance partner is a well-established Ingosstrakh Insurance Company.</p>
                        <p class="center-sm"><b>Terms. </b>Loan lasts a minimum of a day, maximum one month with a
                            possibility of prolongation. The total loan sum is calculated in proportion to days, you
                            don’t have to pay the interest as soon as you have paid off the loan. Our Interest. Our
                            interest is individual for each loan depending on an item. The interest rate depends on a
                            watch valuation, seasonality and other factors.</p>
                        <p class="center-sm"><b>The Documents Needed. </b>To get a loan you don’t need any other
                            documents but a passport and a watch certificate. It is possible to get a loan without any
                            watch certificates, but in this case the sum of your loan will be less (depending on a watch
                            brand and model).</p>
                        <p class="center-sm"><b>Prior Pawn Redemption. </b> Our clients have a possibility to pay off
                            loans in advance in full any time. In this case we will recalculate the total sum of our
                            interest in client’s favour.</p>
                        <p class="center-sm"><b>Our Guaranties. </b>We retain your goods until the contract is settled.
                            Our shop is guarded and all the items on loan are kept in safes. If you wish, you can put
                            your item into our safe on your own. We guarantee the safety of your valuables through the
                            whole contract period. All the watches in our pawn shop are insured.</p>
                        <p class="center-sm"><b>Confidentiality. </b>Our company guarantees absolute confidentiality of
                            your personal data or any info about a pawn contract.</p>
                        <p class="center-sm"><b>Safety and Security. </b>The safely of a pawn contract is based on the
                            complex expertise, valuation and signing a contract. We provide all the necessary documents
                            with every selling or buying deal. The pawn contract is signed by two parties and this
                            document guarantees the discharge of mutual commitments.</p>
                        <p class="center-sm">To get any additional information about pawnbroker contracts with “The
                            Perspective”, please, contact our specialists using the contact phones.</p>

                    </div>

                    <div class="col-lg-4 col-md-4 center-sm mt-sm-30 hidden-sm hidden-xs"><img
                            style="display: block;margin: auto;width:400px; " src="{% static 'images/long-watch.png'%}"
                            alt="Lux Time">

                    </div>

                </div>

            </div>

        </section>
        <hr style="height: 1px; background-color: #9d705b; border: none;">
        <section class="blog-main ptb-95 ptb-sm-60 ptb-xs-30">

            <div class="container">

                <div class="row">

                    <div class="col-xs-12">

                        <div class="heading-part align-center mb-30">

                            <h2 class="main_title">Contact Us</h2>

                        </div>

                    </div>

                </div>

                <section class="align-center">
                    <div class="contact-info">
                        <div class="row m-0">
                            <div class="col-sm-4 p-0">
                                <div class="contact-box">
                                    <div class="contact-icon contact-phone-icon"></div>
                                    <span><b>Tel</b></span>
                                    <p>0123 456 789 / 0123 456 788</p>
                                </div>
                            </div>
                            <div class="col-sm-4 p-0">
                                <div class="contact-box">
                                    <div class="contact-icon contact-mail-icon"></div>
                                    <span><b>Mail</b></span>
                                    <p>infoservices@Gecko.com </p>
                                </div>
                            </div>
                            <div class="col-sm-4 p-0">
                                <div class="contact-box">
                                    <div class="contact-icon contact-open-icon"></div>
                                    <span><b>Open</b></span>
                                    <p>Mon – Sat: 9:00 – 18:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </section>
    </section>
</div>
{% endblock %}